@page
@model PrivacyModel
@{
    ViewData["Title"] = "Про проєкт";
}
<div class="whitecontainer">
    <h1>@ViewData["Title"]</h1>

    <h2>Можливості</h2>
    <ul>
        <li> Генерація акордів з конфігурованою кількістю звуків (2–5).</li>
        <li> Відтворення акордів у браузері (синтезоване аудіо / WAV).</li>
        <li> Вибір типу акорду та якості; перевірка відповідей із миттєвим фідбеком.</li>
        <li>Лічильник спроб; утиліти для роботи з аудіо та MIDI (папка Utilities/).</li>
    </ul>
    <h2>Використані технології:</h2>
    <ul>
        <li>ASP.NET Core Razor Pages, C#, JavaScript, Web Audio API, NAudio.</li>
        <li>Вихідний код: <a href="https://github.com/PianoMaker/Solfegio">https://github.com/PianoMaker/Solfegio</a></li>
    </ul>


    <h2>Розробник проєкту:</h2>
    <p><a href="https://andrijbondarenko.wordpress.com/">Андрій Бондаренко</a>, кандидат мистецтвознавства, доцент КНУКіМ</p>
    <p>Контактна інформація:</p>
    <p>Email: <a href="mailto:bondareandre@gmail.com">bondareandre@gmail.com</a></p>

</div>



